---
import Header from "../components/Header.astro";
import HeroCTA from "../components/HeroCTA.astro";
import InfiniteSlider from "../components/InfiniteSlider.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Distribuidora Atlântico">
  <Header />
  <main>
    <HeroCTA />
    <InfiniteSlider />
  </main>
</Layout>

<style lang="scss"></style>
