---
import Header from "../components/Header.astro";
import HeroCTA from "../components/HeroCTA.astro";
import InfiniteSlider from "../components/InfiniteSlider.astro";
import MiniCTA from "../components/MiniCTA.astro";
import OurTeam from "../components/OurTeam.astro";
import SecondCTA from "../components/SecondCTA.astro";
import Timeline from "../components/Timeline.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Distribuidora Atlântico">
  <Header />
  <main>
    <HeroCTA />
    <InfiniteSlider />
    <Timeline />
    <MiniCTA />
    <SecondCTA />
    <OurTeam />
  </main>
</Layout>

<style lang="scss"></style>
