---
const { class: className, src, ...rest } = Astro.props;
---

<a class={className} {...rest}>
  <img src={src} alt="Icon" />
  <slot />
</a>

<style lang="scss">
  :root {
    --filter-white: invert(100%) sepia(0%) saturate(2836%) hue-rotate(81deg)
      brightness(98%) contrast(109%);
    --filter-color-dark: invert(17%) sepia(22%) saturate(718%)
      hue-rotate(198deg) brightness(90%) contrast(94%);
    --filter-blue-primary: invert(41%) sepia(48%) saturate(4384%)
      hue-rotate(215deg) brightness(99%) contrast(102%);
  }

  a {
    padding: 0.875rem 1.25rem;
    border: none;
    border-radius: 1.75rem;
    cursor: pointer;
    max-width: fit-content;

    display: flex;
    align-items: center;
    font-weight: 300;
    font-family: "Poppins", sans-serif;

    img {
      height: 16px;
      margin-right: 0.75rem;
    }
  }

  .primary {
    background-color: var(--blue-primary);
    border: 2px solid var(--blue-primary);
    color: white;
    transition: background-color 0.2s;

    img {
      filter: var(--filter-white);
    }

    &:hover {
      background-color: var(--blue-secondary);
    }
  }

  .white {
    color: var(--blue-primary);
    background-color: white;
    border: 2px solid var(--blue-primary);
    transition:
      color 0.3s,
      background-color 0.3s;

    img {
      filter: var(--filter-blue-primary);
    }

    &:hover {
      background-color: var(--blue-primary);
      color: white;

      img {
        filter: var(--filter-white);
      }
    }
  }

  //Secondary styles
  .white-bg__black-text {
    background-color: white;
    color: var(--color-dark);
    transition: box-shadow 0.2s;

    img {
      filter: var(--filter-color-dark);
    }

    &:hover {
      box-shadow: rgba(255, 255, 255, 0.288) 0px 8px 16px;
    }
  }

  .black-bg__white-text {
    background-color: var(--color-dark);
    color: white;
    border: 2px solid white;
    transition: box-shadow 0.2s;

    img {
      filter: var(--filter-white);
    }

    &:hover {
      box-shadow: rgba(255, 255, 255, 0.288) 0px 8px 16px;
    }
  }

  .white-bg__blue-text {
    color: var(--blue-primary);
    background-color: white;
    border: 2px solid white;
    transition:
      color 0.3s,
      background-color 0.3s,
      box-shadow 0.3s;

    img {
      filter: var(--filter-blue-primary);
    }

    &:hover {
      box-shadow: rgba(255, 255, 255, 0.288) 0px 8px 16px;
    }
  }

  .blue-bg__white-text {
    color: white;
    background-color: var(--blue-primary);
    border: 2px solid white;
    transition:
      color 0.3s,
      background-color 0.3s,
      box-shadow 0.3s;

    img {
      filter: var(--filter-white);
    }

    &:hover {
      background-color: white;
      color: var(--blue-primary);
      box-shadow: rgba(255, 255, 255, 0.288) 0px 8px 16px;

      img {
        filter: var(--filter-blue-primary);
      }
    }
  }
</style>
