---
const { class: className, ...rest } = Astro.props;
---

<button class={className} {...rest}>
  <slot />
</button>

<style lang="scss">
  button {
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 1.75rem;
    cursor: pointer;
    max-width: fit-content;

    display: flex;
    align-items: center;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
  }

  .primary {
    background-color: var(--blue-primary);
    color: white;
    transition: box-shadow 0.4s;

    &:hover {
      background-color: var(--blue-secondary);
    }
  }

  .white {
    color: var(--blue-primary);
    background-color: transparent;
    padding: 0.5rem 0;
  }
</style>
