---
import "swiper/css";
---

<section class="depoimentos">
  <div class="swiper swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper-content">
          <div class="swiper-content__details">
            <img src="/swiper/swiper-aspas.svg" alt="Aspas" />
            <img src="/swiper/swiper-stars.svg" alt="5 estrelas" />
          </div>
          <p>
            Atendimento com equipe nota dez, treinada, qualificada em
            atendimento e prestação de serviços com os seus clientes, excelente
            opção de fornecedor para que você possa incluir na sua lista de
            prestadores de serviços e pode indicar para os seus amigos e
            familiares. 05 estelas!
          </p>
          <div class="swiper__slide-cliente">
            <img src="/swiper/cleber-coutinho.png" alt="" />
            <div>
              <span>Cleber Coutinho</span>
              <span>Google Review</span>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-content">
          <div class="swiper-content__details">
            <img src="/swiper/swiper-aspas.svg" alt="Aspas" />
            <img src="/swiper/swiper-stars.svg" alt="5 estrelas" />
          </div>
          <p>
            Se você está a procura de Profissionais capacitados e atenciosos,
            com toda certeza você encontra na Novamed! Muito sucesso a empressa,
            Sr. Mariano pessoa excelentissima sempre disposto a ajudar e melhor
            atender, parabens a toda equipe!
          </p>
          <div class="swiper__slide-cliente">
            <img src="/swiper/anne-gomes.png" alt="" />
            <div>
              <span>Anne Gomes</span>
              <span>Google Review</span>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-content">
          <div class="swiper-content__details">
            <img src="/swiper/swiper-aspas.svg" alt="Aspas" />
            <img src="/swiper/swiper-stars.svg" alt="5 estrelas" />
          </div>
          <p>
            Atendimento com equipe nota dez, treinada, qualificada em
            atendimento e prestação de serviços com os seus clientes, excelente
            opção de fornecedor para que você possa incluir na sua lista de
            prestadores de serviços e pode indicar para os seus amigos e
            familiares. 05 estelas!
          </p>
          <div class="swiper__slide-cliente">
            <img src="/swiper/cleber-coutinho.png" alt="" />
            <div>
              <span>Cleber Coutinho</span>
              <span>Google Review</span>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-content">
          <div class="swiper-content__details">
            <img src="/swiper/swiper-aspas.svg" alt="Aspas" />
            <img src="/swiper/swiper-stars.svg" alt="5 estrelas" />
          </div>
          <p>
            Se você está a procura de Profissionais capacitados e atenciosos,
            com toda certeza você encontra na Novamed! Muito sucesso a empressa,
            Sr. Mariano pessoa excelentissima sempre disposto a ajudar e melhor
            atender, parabens a toda equipe!
          </p>
          <div class="swiper__slide-cliente">
            <img src="/swiper/anne-gomes.png" alt="" />
            <div>
              <span>Anne Gomes</span>
              <span>Google Review</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>

<style lang="scss">
  .depoimentos {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 5rem 0;
  }

  .swiper-container {
    padding: 1.5rem;
    width: 100%;
    max-width: 102rem;
  }

  .swiper-slide {
    border-radius: 1.5rem;
    padding: 4rem 3.5rem;
    height: fit-content;
    cursor: grab;
    box-shadow: rgba(100, 100, 111, 0.17) 0px 7px 24px 0px;

    .swiper-content {
      display: flex;
      flex-direction: column;
      gap: 4rem;

      &__details {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      p {
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.75;
        color: var(--color-gray);
        min-height: 5lh;
      }

      .swiper__slide-cliente {
        display: flex;
        gap: 1rem;
        align-items: center;

        div {
          display: flex;
          flex-direction: column;
          justify-content: center;

          span {
            font-size: 1.5rem;
            font-weight: 700;
            color: var(--color-dark);
            line-height: 1.3;
          }

          span:last-child {
            font-weight: 400;
            font-size: 1.125rem;
            color: var(--color-gray);
          }
        }
      }
    }
  }

  .swiper-pagination {
  }

  @media screen and (min-width: 900px) {
  }

  :root {
    --swiper-pagination-color: var(--blue-primary);
    --swiper-pagination-bullet-size: 10px;
    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
    --swiper-pagination-bullet-inactive-color: #e3e3e3;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bullet-vertical-gap: 6px;
  }
</style>

<script>
  import Swiper from "swiper";
  import "swiper/swiper-bundle.css";

  const swiper = new Swiper(".swiper", {
    loop: true,
    slidesPerView: 2,
    spaceBetween: 50,
    pagination: {
      el: ".swiper-pagination",
    },
  });
</script>
