---
import Button from "./Button.astro";
---

<section class="hero-cta">
  <div class="hero-cta__wrapper">
    <div>
      <h1>Distribuição de material hospitalar e medicamentos</h1>
      <p>
        Promovemos a saúde com soluções seguras e eficazes, focando no bem-estar
        de todos. Garantimos custo-benefício, rentabilidade, ética,
        responsabilidade social e ambiental.
      </p>
      <div>
        <Button class="primary">
          <img
            class="header-cta__img"
            src="/icons/envelope-white.svg"
            alt="Entre em contato"
          />
          Entre em contato
        </Button>
        <Button class="white">
          <img
            class="nav-cta__img"
            src="/icons/list-blue.svg"
            alt="Cadastre-se"
          />
          Cadastre-se
        </Button>
        <span
          >Serviços entregues com o método <strong>just in time</strong></span
        >
      </div>
    </div>
    <img src="/heroimg.png" alt="Distribuição de material hospitalar" />
  </div>
</section>

<style lang="scss">
  section {
    width: 100%;
    max-width: 102rem;
    margin: 0 auto;
  }

  .hero-cta {
  }
</style>
